{% extends 'base.html' %}

{% block title_head %}
<title>About</title>
{% endblock title_head %}

{% block h1_header %}
¿Quién soy?
{% endblock h1_header %}

{% block h2_header %}
Ven, te contaré un poco sobre mi.
{% endblock h2_header %}

{% block contenido %}
    <section class="projects-section bg-light" id="projects">
        <div class="container px-4 px-lg-5">
            <!-- Featured Project Row-->
            <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                <div class="col-xl-8"><img class="img-fluid mb-3 mb-lg-0" src="../../static/assets/img/img-proyect.jpg" alt="..." /></div>
                <div class="col-xl-4 col-lg-5">
                    <div class="featured-text text-center text-lg-left">
                        <h4>Daniel Herbonniere</h4>
                        <p class="text-black-50 mb-0">
                            Mi propósito es extender mis competencias en el área tecnológica de forma semipresencial o remota, desarrollar mi carrera profesional de ingeniería, expandir mis conocimientos a nuevas herramientas o entornos de trabajo y poder escalar de manera eficiente en el ámbito laboral.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock contenido %}