{% extends 'base.html' %}

{% block title_head %}
<title>Modificar Poema</title>
{% endblock title_head %}

{% block h1_header %}
{{poema.titulo}}
{% endblock h1_header %}

{% block h2_header %}
    Hacer modificaciones al poema
{% endblock h2_header %}

{% block contenido %}

    <section class="contact-section bg-black">
        <div class="container px-4 px-lg-5">
            <div class="card py-4 h-100">
                <div class="card-body text-center">
                    <ul>
                        <li style="list-style-type: none;">
                            <h4>
                                <br>
                                <form action={% url 'inicio:modificar_poema' poema.id %} method="post">
                                    {% csrf_token %}
                                    <br>
                                    <table>
                                        {{form}}
                                        {{form.media}}
                                    </table>
                                    <button class="btn btn-secondary">Modificar</button>
                                </form>
                            </h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

{% endblock contenido %}