{% extends 'base.html' %}

{% block title_head %}
    <title>Poemas</title>
{% endblock title_head %}


{% block h1_header %}
    Lista de Poemas
{% endblock h1_header %}


{% block h2_header %}

    <form action={% url 'inicio:poemas' %}>
        <br>
        {{formulario}}
        <button class="btn btn-primary">Buscar</button>
    </form>

    <br>
 
    <a class="btn btn-secondary" href={% url 'inicio:crear_poema' %}>Crear Poema</a>


{% endblock h2_header %}

{% block contenido %}

    {% if lista_poemas %}

        {% for poema in lista_poemas %}
            <section class="contact-section bg-black">
                <div class="container px-4 px-lg-5">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <ul>
                                <li style="list-style-type: none;">
                                    <h4>
                                        {{poema}}
                                        <button class="btn btn-info">
                                            <a class="navbar-brand" href={% url 'inicio:detalle_poema' poema.id %}>Ver más</a>
                                        </button>
                                        
                                        {% if request.user.is_authenticated %}
                                        <button class="btn btn-success">
                                            <a class="navbar-brand" href={% url 'inicio:modificar_poema' poema.id %}>Modificar</a>
                                        </button>

                                        <button class="btn btn-danger">
                                            <a class="navbar-brand" href={% url 'inicio:eliminar_poema' poema.id %}>Eliminar</a>
                                        </button>
                                        {% endif %}
                                    </h4>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        {% endfor %}
        
    {% else %}
    <section class="about-section text-center" id="about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8">
                    <h2 class="text-white mb-4">No se encontraron poemas</h2>
                </div>
            </div>
        </div>
    </section>
    {% endif %}

{% endblock contenido %}